<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>File server</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script src="{{ctx}}/webjars/jquery/dist/jquery.min.js"></script>
  <script src="{{ctx}}/webjars/popper.js/dist/umd/popper.min.js"></script>
  <script src="{{ctx}}/webjars/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="{{ctx}}/webjars/bootstrap-fileinput/js/fileinput.min.js"></script>
  <link rel="stylesheet" href="{{ctx}}/webjars/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{{ctx}}/webjars/bootstrap-fileinput/css/fileinput.min.css"/>
  <link rel="stylesheet" href="{{ctx}}/webjars/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="{{ctx}}/css/app.css"/>
  <link rel="shortcut icon" type="image/x-icon" href="{{ctx}}/images/favicon.ico">
</head>
<body>
{{> parts/head/nav}}
