</main>
<footer class="footer">
    <div class="container">
        <a class="text-muted" href="{{githubUrl}}">
            2016-2019 &copy; Maksim Kostromin <i class="text-muted fab fa-github"></i></a>
    </div>
</footer>
<script src="{{ctx}}/webjars/jquery/${jquery.version}/dist/jquery.min.js"></script>
<script src="{{ctx}}/webjars/popper.js/${popper.version}/dist/umd/popper.min.js"></script>
<script src="{{ctx}}/webjars/bootstrap/${bootstrap.version}/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ctx}}/webjars/bootstrap-fileinput/${bootstrap.file.input.version}/js/fileinput.min.js"></script>
</body>
</html>
