<header>
  <!--<nav class="navbar fixed-top navbar-expand-lg justify-content-between navbar-light bg-light">-->
  <nav class="navbar navbar navbar-light bg-light justify-content-between">

    {{#user}}
      &nbsp;
      <div class="navbar-text">
        Hi, <a class="text-muted"
               href="{{profileUrl}}">{{displayName}}</a>!
      </div>
      <div class="navbar-text">
        <a class="text-muted"
           href="{{ctx}}/disconnect"><i class="text-muted fa fa-sign-out"></i></a>
      </div>
    {{/user}}

    <a class="navbar-brand" href="{{ctx}}/">Streaming File Server</a>

    &nbsp;
    <a class="text-muted" href="{{githubUrl}}">
      <i class="text-muted fab fa-github"></i> Source Code
    </a>

    {{^user}}
      &nbsp;
      <form class="form-inline" method="post" action="{{downloadUrl}}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
               placeholder="looking for something?" name="filename">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search files</button>
      </form>
    {{/user}}
  </nav>
</header>

<main class="container-fluid">
