<nav class="header navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#fileserver-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ctx}}/">Streaming File Server</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="fileserver-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Search</a></li>
        <li>
          <form class="navbar-form navbar-left" role="search" method="post" action="{{downloadUrl}}">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="looking for something?" name="filename">
              <button type="submit" class="btn btn-default">Search files</button>
            </div>
          </form>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#user}}
            <div class="navbar-text">
              <a class="text-muted" href="{{ctx}}/logout">hi</a>, <a class="text-muted btn-social-icon" href="{{profileUrl}}">{{displayName}}</a>!
            </div>
          {{/user}}
          {{^user}}
            <form class="navbar-form" role="search" method="post" action="{{ctx}}/connect/facebook">
              <div class="form-group">
                <input type="hidden" name="scope" value="user_posts"/>
                <button class="btn btn-primary">
                  <i class="fa fa-facebook"></i>
                </button>
              </div>
            </form>
          {{/user}}
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">
            Menu <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <!--<li role="separator" class="divider"></li>-->
            <li>
              <a class="btn btn-social-icon btn-github" href="{{githubUrl}}">
                <i class="fa fa-github"></i> Source Code
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<main class="container-fluid">
