</main>
<footer class="footer">
    <div class="container">
        <a class="text-muted" href="{{githubUrl}}">
            2016-2019 &copy; Maksim Kostromin <i class="text-muted fab fa-github"></i></a>
    </div>
</footer>
<script src="{{ctx}}/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
<script src="{{ctx}}/webjars/popper.js/1.16.1/dist/umd/popper.min.js"></script>
<script src="{{ctx}}/webjars/bootstrap/5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ctx}}/webjars/bootstrap-fileinput/5.2.5/js/fileinput.min.js"></script>
</body>
</html>
