</main>
<footer class="footer">
    <div class="container">
        <a class="text-muted" href="{{githubUrl}}">
            2016-2019 &copy; Maksim Kostromin <i class="text-muted fab fa-github"></i></a>
    </div>
</footer>
<!--jquery CDN: -->
<!--<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
<!--jquery webjars npm: -->
<!--<script src="{{ctx}}/webjars/jquery/3.4.1/jquery.min.js"></script>-->
<!--jquery webjars bower: -->
<script src="{{ctx}}/webjars/jquery/3.4.1/dist/jquery.min.js"></script>
<script src="{{ctx}}/webjars/popper.js/1.15.0/dist/umd/popper.min.js"></script>
<script src="{{ctx}}/webjars/bootstrap/4.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ctx}}/webjars/bootstrap-fileinput/5.0.1/js/fileinput.min.js"></script>
</body>
</html>
