</main>

<footer class="footer">
  <div class="container">
    <a class="text-muted" href="{{githubUrl}}">
      2016-2018 &copy; Maksim Kostromin <i class="text-muted fab fa-github"></i></a>
  </div>
</footer>

<script src="{{ctx}}/webjars/jquery/3.3.1-2/jquery.min.js"></script>
<script src="{{ctx}}/webjars/popper.js/1.14.7/dist/umd/popper.min.js"></script>
<script src="{{ctx}}/webjars/bootstrap/4.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ctx}}/webjars/bootstrap-fileinput/4.4.8/js/fileinput.min.js"></script>

</body>
</html>
