<div class="container-fluid">
  <h3 class="panel panel-heading">{{#files.isEmpty}}nothing for {{/files.isEmpty}}download</h3>
  {{^files.isEmpty}}
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <td>&check;</td>
          <td>file</td>
          <td>owner</td>
          <td>size</td>
          <td>updated</td>
        </tr>
        </thead>
        {{#files}}
          <tr>
            <td>
              {{#file}}
                <a href="{{ctx}}/{{downloadUrl}}/{{id}}" class="glyphicon glyphicon-download"/>
              {{/file}}
            </td>
            <td class="col-sm-7">
              <span class="text-muted">{{filename}}</span>
            </td>
            <td class="col-sm-2">
              <span class="text-muted">
                {{#owner}}{{.}}{{/owner}}
                {{^owner}}-{{/owner}}
              </span>
            </td>
            <td class="col-sm-1">
              <span class="text-muted">{{prettySize}}</span>
            </td>
            <td class="col-sm-2">
              <span class="text-muted">{{updatedAt}}</span>
            </td>
          </tr>
        {{/files}}
      </table>
    </div>
  {{/files.isEmpty}}
</div>
