<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File server</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{webjars}}/jquery/2.2.2/jquery.min.js"></script>
  <script src="{{webjars}}/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{{webjars}}/bootstrap-fileinput/4.3.1/js/fileinput.js"></script>
  <link rel="stylesheet" href="{{webjars}}/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="{{webjars}}/bootstrap-fileinput/4.3.1/css/fileinput.min.css"/>
  <link rel="stylesheet" href="{{webjars}}/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="{{ctx}}/app.css"/>
</head>
<body>
{{> parts/head/nav}}
